# There are two tye of function:
    Sets of statements and expression are called function 
    Decrease the repeatation of codes
    User defined function/Pre defined function
    *Return
    *Non-Return function
    *Default function
    *required argumentsfunction
    *lambda function
    *Recursive
    *Generator
    
    *Components of Function:
    *Function Declaration/Function Signature
    *def function_Name(argu1,argu2,argu3,...
    *Function body
    *Function Call

In [2]:
print("my name is asif")
print("I luv Pakistan")
print("asad")
print("l")

my name is asif
I luv Pakistan
asad
l

# default function
*not required any prameter when it call

Custom and  non return function

In [6]:
car = ("enter yur contry name")
def country_msg(car):
    print("asif iqbal")
    print("rol number :20103118")
    print(f"{car} zindabad")
    
    
country_msg(car)

asif iqbal
rol number :20103118
enter yur contry name zindabad

# Return Function

In [9]:
var = input("enter your country name: ")
var2 = input("enter anaother country name: ")
def country_msg(var):
    print("asif iqbal")
    print("roll number: 20103118 ")
    print(f"{var} Zindabad")
    return
a = country_msg(var)
b = country_msg("canada")
c = country_msg("america")
country_msg(var2)

enter your country name: pakistan
enter anaother country name: indi
asif iqbal
roll number: 20103118
pakistan Zindabad
asif iqbal
roll number: 20103118
canada Zindabad
asif iqbal
roll number: 20103118
america Zindabad
asif iqbal
roll number: 20103118
indi Zindabad

In [24]:
def card1(id1,name,time,batch):
    id1 =(1,2,3,4,5),
    name = ("asad","bilal","khan","sir","aqib"),
    class1 = (1,2,3,4,5),
    time = ("1pm" , "2pm" , "3pm" , "4pm" , "5pm"),
    batch = ("moring","morning","evening","evening","morning")
    
    return card

In [37]:
def my_sum (num1,num2):
    print(num1,num2)
    return num1+num2


my_sum(1,23)

1 23

24

In [42]:
def my_dif (num1,num2):
    print(num1,num2)
    return num1-num2

my_dif(-54,65)

-54 65

-119

In [39]:
def my_product (num1,num2):
    print(num1,num2)
    return num1+num2

my_product(23,2)

23 2

25

# create unlimited key word argument:
*add ** before any parameter during declaring time
* def my_sum(num1,**value):

In [46]:
def abc (**values):
    print(values)
    print(type(values))
    
abc(num1=7,tea=2,milk="1kg")

{'num1': 7, 'tea': 2, 'milk': '1kg'}
<class 'dict'>

In [58]:
def my_custom_function(num1,num2=7,*value1,**dict1):
    print("required propositional argument num1 =",num1, type(num1))
    print("propositional default parameter value  argument num2 =" ,num2,type(num2))
    print("propositional unlimited arguments ",value,type(value))
    print("unlimitd key/word",dict1,type(dict1))
    #y_custom_function(20,20,34,56,45)

In [55]:
my_custom_function(200)

required propositional argument num1 = 200 <class 'int'>
propositional default parameter value , argument num2 = 7 <class 'int'>

NameError: name 'value' is not defined

In [59]:
def add_two_num(num1:int,num2:int):
    return num1+num2

add_two_num(5,4)

9

In [70]:
def add_two_name(name1 :str , name2:str):
    return  name1 + name2

add_two_name("Syed " , "Asif" )

'Syed Asif'

*function must be nameless
 *function must in one line 
 *function must be used before and after using of that function
 *such functions are called Lambda Function

In [73]:
a  =  lambda name1,name2 : name1+name2
a(67,23)

90

In [74]:
b  = lambda int1,int2,int3,int4 : int1*int2*int3*int4
b(2,2,2,2)

16

In [90]:
c = lambda str1,str2,str3,str4,str5 : str1 +str2 +str3 +str4 +str5
c("syed ","asif ","iqbal ","shah ","sarkar ")

'syed asif iqbal shah sarkar '

In [85]:
x = lambda int1,int2,int3,int4,int5,int6,int7 : int1 / int2*int3+int4+int5+int6+int7
x(40,2,3,4,4,4,4)

76.0

In [88]:
g = lambda int1,int2,int3,int4: int1**int2**int3**int4
g(2,2,1,1)

4